input[type="checkbox"] {
  height: var(--checkbox-size);
  aspect-ratio: 1;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  border: none;
  background: var(--checkbox-bg);
  transition: background 0.3s ease, border-color 0.3s ease;
  box-shadow: var(--checkbox-shadow);
  box-sizing: content-box;
  outline: calc(var(--checkbox-size) / 20) solid var(--checkbox-border);
  outline-offset: -1px;
  border-radius: 2px;
  & ~ label {
    color: var(--label-color);
  }
  &:after {
    content: "";
    display: block;
    // left: 0;
    // top: 0;
    position: absolute;
    transition: transform 0.3s ease, opacity 0.2s ease, filter 0.3s ease;
  }
  &:hover {
    & ~ label {
      --label-color: var(--label-color-hover);
    }
    &:not(:checked, :disabled) {
      --checkbox-border: var(--checkbox-border-hover);
      --checkbox-shadow: var(--checkbox-shadow-hover);
    }
  }
  &:checked {
    --checkbox-bg: var(--checkbox-bg-active);
    --checkbox-border:var(--checkbox-border-active) &:after {
      transition: opacity 0.3s ease, filter 0.3s ease,
        transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    }
    & ~ label {
      --label-color: var(--label-color-active);
    }
  }
  &:disabled {
    // --checkbox-bg: var(--checkbox-bg-disabled);
    --checkbox-border: var(--checkbox-border-disabled);
    cursor: not-allowed;
    &,
    & + label {
      opacity: 0.5;
    }
    &:checked {
      &:after {
        outline-color: var(--checkbox-border-disabled);
      }
    }
  }

  &:not(.switch, .square) {
    &:after {
      opacity: 0;
    }
    &:checked {
      &:after {
        opacity: 1;
      }
    }
  }

  &:not(.switch, .square) {
    border-radius: var(--checkbox-radi);
    &:after {
      width: calc(var(--checkbox-size) / 2);
      aspect-ratio: var(--ratio-widescreen);
      border: calc(var(--checkbox-size) / 12) solid var(--checkbox-square-bg);
      border-top: 0;
      border-right: 0;
      left: 55%;
      top: 25%;
      transform: rotate(-40deg) translate(-50%, -50%);
    }
  }
  // squre checkbox
  &.square {
    &:checked {
      --checkbox-bg: var(--checkbox-square-bg);
      --checkbox-border: var(--checkbox-square-border-active);
      &:after {
        --checkbox-after-bg: var(--checkbox-square-border-active);
        content: "";
        display: block;
        position: absolute;
        top: calc(var(--checkbox-size) / 6);
        left: calc(var(--checkbox-size) / 6);
        width: calc(var(--checkbox-size) / 1.5);
        aspect-ratio: var(--ratio-square);
        background: var(--checkbox-after-bg);
        border: none;
        transform: rotate(0deg) scale(1);
        transform-origin: center;
        border-radius: var(--checkbox-radi);
      }
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
  // Square end here
  &.switch {
    --checkbox-bg: var(--checkbox-switch-bg);
    --switch-width: calc(var(--checkbox-size) * 1.75);
    width: var(--switch-width);
    border-radius: var(--radius-full);
    &:after {
      --switch-btn-width: calc(var(--checkbox-size) / 1.5);
      --switch-btn-gap: calc(var(--checkbox-size) / 4.5);
      top: calc(var(--checkbox-size) / 6);
      transform: translateX(var(--switch-btn-gap));
      border-radius: var(--radius-full);
      width: var(--switch-btn-width);
      aspect-ratio: var(--ratio-square);
      background: var(--switch-btn-bg);
    }

    &:checked {
      --checkbox-bg: var(--checkbox-bg-active);
      &:after {
        --switch-btn-bg: var(--switch-btn-bg-active);
        transform: translateX(
          calc(
            var(--switch-width) - var(--switch-btn-width) -
              var(--switch-btn-gap)
          )
        );
      }
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
}
