input[type="radio"] {
  border-radius: var(--radius-full);
  outline: none;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  height: var(--radio-size);
  aspect-ratio: 1;
  border: none;
  outline: calc(var(--radio-size) / 20) solid var(--radio-border);
  background: var(--radio-bg);
  transition: background 0.3s ease, border 0.3s ease;
  box-shadow: var(--radio-shadow);
  box-sizing: content-box;
  & ~ label {
    color: var(--label-color);
  }
  &:after {
    width: calc(var(--radio-size));
    aspect-ratio: 1;
    border-radius: var(--radius-full);
    background: var(--radio-bg);
    transform: scale(0.75);
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform 0.3s ease, opacity 0.2s ease, filter 0.3s ease;
  }
  &:checked {
    background: var(--radio-bg);
    outline-color: var(--radio-bg-active);
    & ~ label {
      --label-color:var(--label-color-active);
    }
    &:after {
      --radio-bg:var(--radio-bg-active);
      transform: scale(0.7);
      transition: opacity 0.3s ease, filter 0.3s ease,
      transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    }
  }
  :where(&:disabled, &:disabled + label) {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:hover:not(:checked):not(:disabled) {
    --radio-border:var(--radio-border-hover);
    --radio-shadow: var(--radio-shadow-hover);
    & ~ label {
      --label-color:var(--label-color-hover);
    }
  }
}
