

@layer components {
  :root {
    --avatar-size-default: var(--size-8); // 32px;
    --avatar-fs-default: var(--fs-12); // 12px
    --avatar-size: var(--avatar-size-default);
    --avatar-radi: var(--radius-full);
    --avatar-bg:var(--color-action-100);
    --avatar-color: var(--color-primary-500);
    --avatar-fs: var(--avatar-fs-default);
    --avatar-size-sm: var(--size-8); // 24px
    --avatar-fs-sm: var(--fs-12); // 12px;
    --avatar-size-md: var(--size-8); // 24px
    --avatar-fs-md: var(--fs-12); // 12px;
    --avatar-size-lg: var(--size-9);  // 36px
    --avatar-fs-lg: var(--fs-base);  // 16px;
    --avatar-size-xl: var(--size-10);  // 40px;
    --avatar-fs-xl: var(--fs-18);  // 18px;

}
  @mixin avatar-size($size) {
    @if $size==sm {
      --avatar-size: var(--avatar-size-sm);
      --avatar-fs: var(--avatar-fs-sm);
    }

    @if $size==md {
      --avatar-size: var(--avatar-size-md);
      --avatar-fs: var(--avatar-fs-md);
    }

    @if $size==lg {
      --avatar-size: var(--avatar-size-lg);
      --avatar-fs: var(--avatar-fs-lg);
    }

    @if $size==xl {
      --avatar-size: var(--avatar-size-xl);
      --avatar-fs: var(--avatar-fs-xl);
    }
   
  }

  .avatar {
    display: flex;
    align-items: center;
    align-self: center;
    gap: var(--size-2);
    font-size: var(--avatar-fs);
    position: relative;

    // Status indicator Colors
    [data-indicator="online"], &.online {
      --status-color:var(--color-success-500);
    }
    [data-indicator="offline"], &.ofline {
      --status-color:var(--color-neutrals-200);
    }
    [data-indicator="away"], &.offline {
      --status-color:var(--color-attention-900);
    }
    [data-indicator="busy"], &.busy {
      --status-color:var(--color-error-900);
    }

    &__media {
      position: relative;
      picture img, img {
        max-width: var(--size-full);
        object-fit: cover;
        border-radius: var(--avatar-radi);
        width: var(--avatar-size);
      }
      &:has(> picture, img) {
        &[data-avatar]:before {
          display: none;
        }
      }
      &[data-indicator]:after {
        content: '';
        place-content: center;
        inline-size: var(--size-2);
        outline: 3px solid var(--color-neutrals-400);
        background-color: var(--status-color);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        aspect-ratio: var(--ratio-square);
        z-index: var(--index-10);
        border-radius: var(--radius-full);
      }
      
      &[data-avatar]:before {
        content: attr(data-avatar);
        display: grid;
        place-content: center;
        place-items: center;
        aspect-ratio: var(--ratio-square);
        border-radius: var(--avatar-radi);
        background: var(--avatar-bg);
        color: var(--avatar-color);
        width: var(--avatar-size);
        text-transform: uppercase;
      }
    }
    
    
    &__content {
      
    }
    
    &__title {
      
    }
    
    &__desc {
      font-size: var(--fs-14);
    }

    

    &.sm {
      @include avatar-size(sm);
    }

    &.md {
      @include avatar-size(md);
    }

    &.lg {
      @include avatar-size(lg);
    }

    &.xl {
      @include avatar-size(xl);
    }

    &.round {
      --avatar-radi: var(--radius-md);
    }
    

  }
}